<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Budget Dashboard</title>
  <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
  <main class="dashboard">
    {% include "partials/month_header.html" %}
    <form id="month-state">
      <input type="hidden" name="year" value="{{ year }}">
      <input type="hidden" name="month" value="{{ month }}">
    </form>
    <section class="dashboard__body">
      <aside class="budget-list" id="budget-lines-container"
        hx-on="click: const form = document.querySelector('#budget-summary-create'); const button = document.querySelector('.budget-list-create');  if ( form.contains(event.target) || event.target.closest('.budget-list-create') ) return;  form.classList.remove('is-active'); button.classList.add('is-active'); ">
        {% include "partials/budget_lines.html" %}
      </aside>
      <!-- <section class="detail-panel">
          <div class="summary-card" id="summary-card" hx-get="/summary" hx-trigger="load, every 15s" hx-target="#summary-card" hx-swap="innerHTML">
            {% include "partials/summary_card.html" %}
          </div>

          <div class="explorer" id="explorer" hx-get="/explorer" hx-trigger="load" hx-target="#explorer" hx-swap="innerHTML">
            {% include "partials/explorer.html" %}
          </div>
        </section> -->
    </section>
  </main>
</body>

</html>