name: Base CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      COV_MIN: 74

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Linting + Formatting
        run: |
          ruff check .
          ruff format --check .

      - name: Unit testing
        run: |
          pytest --cov-fail-under=${COV_MIN}